*~
*.fasl
*.slfasl
*.o
*.obj
*.lap
*.lop
include/asmdefs.h
include/cdefs.h
include/config.ah
include/config.h
include/except.ah
include/except.ch
include/globals.ah
include/globals.ch
include/layouts.ah
include/layouts.ch
include/mprocs.ah
include/mprocs.ch
include/regs.ah
include/regs.ch
larceny.bin
larceny.heap
twobit.heap
sasstrap.heap
arm.heap
lib/R6RS/r6rs-standard-libraries.exp
src/Lib/Common/ecodes.sch
src/Lib/Common/globals.sch
src/Lib/Common/layouts.sch
src/Lib/Common/regs.sch
src/Rts/Makefile
src/Rts/Shared/arithmetic.c
src/Rts/c-table.c
src/Rts/larceny.bin
src/Rts/nasm-table.asm
src/Rts/fence-table.sx
tablesLarceny
dfaLarceny.sch
parserLarceny.sch
test/Benchmarking/R6RS/results.*
test/Benchmarking/R6RS/Results
test/Benchmarking/R6RS/outputs
test/Benchmarking/R7RS/results.*
test/Benchmarking/R7RS/Results
test/Benchmarking/R7RS/outputs
test/Jaffer/tmp*
test/R7RS/Lib/temp.scm
test/R7RS/Lib/testresults*
lib/SRFI/test/*.log
